html,
body {
  margin: 0;
  padding: 0;
}
/* html {
  transform: scale(0.5);
} */

canvas {
  display: block;
}
button {
  position: fixed;
  background-color: black;
  color: azure;
  padding: 12pt;
  stroke: black;
  font-size: 22px;
  border-radius: 100px;
  transform: translate(-50%, -50%);
}
